/* #051F20
#0B2B26
#163832
#163832
#235347
#8EB69B
#DAF1DE */


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #051F20;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* color:  #DAF1DE; */

}
.heading{
    color:  #DAF1DE;

}
.main{
    margin-left: 10%;
}
.line1,.line2 {
    display: flex;
} 

.box{
    border: 1px solid #DAF1DE;
    /* box-shadow: #DAF1DE; */
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    height: 240px;
    margin: 7px;
    background-color: #235347;
}

ul{
    padding-left: 35px;
}
.btn{
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    /* font-style: bold; */
    background-color: #8EB69B;
}